body{
    background-color: #232323;
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.square{
    width: 30%;
    background-color: blue;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.10s;
}
#conteainer{
    max-width: 600px;
    margin: 20px auto;
}
h1{
    color:whitesmoke;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    background-color: steelblue;
    margin: 0%;
    font-weight: normal;
    padding: 20px 0px;
}

#stripe{
    background-color: whitesmoke;
    color:black;
    height: 30px;
    text-align: center;
}
.selected{
    color:white;
    background-color: steelblue;
}
#colorDisplay{
    font-size: 150%;
}
button{
    border: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    color: steelblue;
    transition: all 0.3s;
    outline: none;
}
button:hover{
    color:white;
    background-color: steelblue;
}
#message{
    display: inline-block;
    width: 20%;
}

